body{
    
}

}

.topnav {
    background-color: rgb(241, 170, 206);
    text-align: center;
    color: black;
}

.text-center {
    text-align: center;
color: black;   
}

.navbar-nav{
    text-align: center;
}