body{
    background: url(https://media.giphy.com/media/U3qYN8S0j3bpK/source.gif);
}

h1{
    color: rgb(255, 255, 255);
    margin: 0;
    text-align: center;
    font-family: 'Permanent Marker', cursive;

}
.nav-link{
    margin-top: 8px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 5, 5);
    font-family: 'Montserrat Alternates', sans-serif;
    margin-bottom: 40px;
}


}
.first{
    margin-top: 60px;
    margin-left: 1px;
    margin-right: 1px;
}
.second{
    margin-top: 40px;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 40px;
    bottom: 40px;

}

footer{
    margin-top: 60px;
    background-color: rgb(10, 10, 10);
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Permanent Marker', cursive;
  }